body {
    background: #fff;
}
#login-box{
    width:20%;
    height:auto;
//border: 2px solid rgba(17, 8, 22, 0.46);
    border-radius:30px;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    background: #fff;
    padding: 20px 50px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.43), 10px 10px 10px 10px rgba(255,255,255,0.5)
}
#login-box .form .item{
    margin-top: 15px;
}
#login-box .form .item input{
    border:2px solid#000;
    padding: 5px 10px;
    background: #ffffff00;
    color: #000;
}
#login-box button{
    width: 200px;
}
#login-box .form .yanzhengma input{
    border-bottom: solid;
}
