<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formtools.mapper.BuiltFormMapper">

	<resultMap type="BuiltForm" id="BuiltFormResult">
		<id property="id" column="id"/>
		<id property="formId" column="form_id"/>
		<result property="userId" column="user_id"/>
		<result property="formTitle" column="form_title"/>
		<result property="formInfo" column="form_info"/>
		<result property="builtTime" column="built_time"/>
		<result property="beginTime" column="begin_time"/>
		<result property="endTime" column="end_time"/>
		<result property="maxCount" column="max_count"/>
		<result property="formType" column="form_type"/>
	</resultMap>

	<resultMap type="BuiltForm" id="BuiltFormListResult">
		<id property="formId" column="form_id"/>
		<result property="formTitle" column="form_title"/>
		<result property="builtTime" column="built_time"/>
		<result property="beginTime" column="begin_time"/>
		<result property="endTime" column="end_time"/>
		<result property="maxCount" column="max_count"/>
		<result property="formType" column="form_type"/>
	</resultMap>

	<insert id="addBuiltForm" parameterType="BuiltForm">
		insert into all_built_form
		    (id,form_id,user_id,form_title,form_info,built_time,
		     begin_time,end_time,max_count,form_type)
		     value (null,#{formId},#{userId},#{formTitle},#{formInfo},#{builtTime},
		            #{beginTime},#{endTime},#{maxCount},#{formType})
	</insert>

	<select id="getBuiltForm" parameterType="String" resultMap="BuiltFormResult">
		select * from all_built_form where form_id= #{formId}
	</select>

	<select id="findAllBuiltForm" resultMap="BuiltFormListResult">
		select form_id,form_title,built_time,begin_time,end_time,max_count,form_type from all_built_form where user_id= #{userId}
	</select>

	<update id="updateBuiltForm" parameterType="BuiltForm">
		update all_built_form
		<set>
			<if test="formInfo!=null">
				form_info=#{formInfo},
			</if>
			<if test="formTitle!=null">
				form_title=#{formTitle},
			</if>
			<if test="beginTime!=null">
				begin_time=#{beginTime},
			</if>
			<if test="endTime!=null">
				end_time=#{endTime},
			</if>
			<if test="maxCount!=null">
				max_count=#{maxCount},
			</if>
		</set>
		where form_id=#{formId}
	</update>

	<delete id="deleteBuiltForm" parameterType="long">
		delete from all_built_form where form_id= #{formId}
	</delete>

</mapper> 