<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formtools.mapper.DraftFormMapper">

	<resultMap type="DraftForm" id="DraftFormResult">
		<id property="id" column="id"/>
		<id property="formId" column="form_id"/>
		<result property="userId" column="user_id"/>
		<result property="formTitle" column="form_title"/>
		<result typeHandler="com.formtools.utils.JSONObjectTypeHandler" javaType="com.alibaba.fastjson.JSONObject"
				jdbcType="VARCHAR" property="formInfo" column="form_info"/>
		<result property="builtTime" column="built_time"/>
		<result property="beginTime" column="begin_time"/>
		<result property="endTime" column="end_time"/>
		<result property="maxCount" column="max_count"/>
		<result property="formType" column="form_type"/>
		<result property="state" column="state"/>
	</resultMap>

	<resultMap type="DraftForm" id="DraftFormListResult">
		<id property="formId" column="form_id"/>
		<result property="formTitle" column="form_title"/>
		<result property="builtTime" column="built_time"/>
		<result property="formType" column="form_type"/>
	</resultMap>

	<insert id="addDraftForm" parameterType="DraftForm">
		insert into all_draft_form
		    (id,form_id,user_id,form_title,form_info,built_time,
		     begin_time,end_time,max_count,form_type,state)
		     value (null,#{formId},#{userId},#{formTitle},#{formInfo,typeHandler=com.formtools.utils.JSONObjectTypeHandler},#{builtTime},
		            #{beginTime},#{endTime},#{maxCount},#{formType},#{state})
	</insert>

	<select id="getDraftForm" parameterType="Long" resultMap="DraftFormResult">
		select * from all_draft_form where form_id= #{formId} and user_id=#{userId}
	</select>

	<select id="findAllDraftForm" resultMap="DraftFormListResult">
		select form_id,form_title,built_time,form_type from all_draft_form where user_id= #{userId}
	</select>

	<update id="updateDraftForm" parameterType="DraftForm">
		update all_draft_form
		<set>
			<if test="formInfo!=null">
				form_info=#{formInfo,typeHandler=com.formtools.utils.JSONObjectTypeHandler},
			</if>
			<if test="formTitle!=null">
				form_title=#{formTitle},
		    </if>
			<if test="builtTime!=null">
				built_time=#{builtTime},
			</if>
		    <if test="beginTime!=null">
				begin_time=#{beginTime},
			</if>
			<if test="endTime!=null">
				end_time=#{endTime},
			</if>
			<if test="maxCount!=null">
				max_count=#{maxCount},
			</if>
			<if test="state!=null">
				state=#{state},
			</if>
		</set>
		where form_id=#{formId}
	</update>

	<delete id="deleteDraftForm" parameterType="Long">
		delete from all_draft_form where form_id= #{formId} and user_id=#{userId}
	</delete>

</mapper> 