<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formtools.mapper.FillFormMapper">
    <resultMap type="FillForm" id="FillFormResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="formId" column="form_id"/>
    </resultMap>

    <select id="findAllFillForm" parameterType="String" resultMap="FillFormResult">
        select * from fill_form where user_id=#{userId}
    </select>
</mapper> 