<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formtools.mapper.FillQuestionnaireMapper">

    <resultMap type="FillQuestionnaire" id="FillQuestionnaireResult">
        <id property="id" column="id"/>
        <result property="formId" column="form_id"/>
        <result typeHandler="com.formtools.utils.JSONObjectTypeHandler" javaType="com.alibaba.fastjson.JSONObject"
                jdbcType="VARCHAR" property="fillContent" column="fill_content"/>
        <result property="fillTime" column="fill_time"/>
    </resultMap>

    <insert id="addQuestionnaire" parameterType="FillQuestionnaire">
        insert into fill_questionnaire
            (id,form_id,fill_content,fill_time)
            value (null,#{formId},#{fillContent,typeHandler=com.formtools.utils.JSONObjectTypeHandler},#{fillTime})
    </insert>

    <select id="findFilledQuestionnaire" parameterType="long" resultMap="FillQuestionnaireResult">
        select * from fill_questionnaire where form_id=#{formId}
    </select>

    <delete id="deleteFilledQuestionnaire" parameterType="int">
        delete from fill_questionnaire where id=#{id}
    </delete>

    <insert id="insertFilledQuestionnaire">
        insert into fill_questionnaire (id,form_id,fill_content,fill_time)
        select null,#{formId},#{fillContent,typeHandler=com.formtools.utils.JSONObjectTypeHandler},now()
        where
            timestampdiff(second,(select begin_time from all_built_form where form_id=#{formId}),now()) > 0
            and
            timestampdiff(second,now(),(select end_time from all_built_form where form_id=#{formId})) > 0
            and
            (select max_count from all_built_form where form_id=#{formId}) >
            (select count(*) from fill_questionnaire where form_id=#{formId})
            and
            (select form_type from all_built_form where form_id=#{formId}) = 'W'
    </insert>
</mapper> 