<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formtools.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <id property="userId" column="user_id"/>
        <result property="email" column="user_email"/>
        <result property="password" column="user_password"/>
        <result property="nickname" column="user_nickname"/>
        <result property="profile" column="user_profile"/>
    </resultMap>

    <select id="getUser" parameterType="Map" resultMap="UserResult">
        select * from user_info
        <where>
            <if test="userId!=null">
                user_id=#{userId}
            </if>
            <if test="email!=null">
                and user_email=#{email}
            </if>
            <if test="password!=null">
                and user_password=#{password}
            </if>
        </where>
    </select>

    <update id="updateUser" parameterType="User">
        update user_info
        <set>
            <if test="email!=null">
                user_email=#{email},
            </if>
            <if test="password!=null">
                user_password=#{password},
            </if>
            <if test="nickname!=null">
                user_nickname=#{nickname},
            </if>
            <if test="profile!=null">
                user_profile=#{profile},
            </if>
        </set>
        where user_id=#{userId}
    </update>
</mapper> 