<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formtools.mapper.UserMapper">

    <resultMap type="UserInfo" id="UserResult">
        <id property="userId" column="user_id"/>
        <result property="nickname" column="user_nickname"/>
        <result property="profile" column="user_profile"/>
    </resultMap>

    <resultMap type="UserVerify" id="UserVerify">
        <id property="userId" column="user_id"/>
        <result property="openid" column="openid"/>
        <result property="type" column="verify_type"/>
    </resultMap>

    <resultMap type="EmailVerify" id="EmailVerify">
        <id property="userId" column="user_id"/>
        <result property="email" column="user_email"/>
        <result property="password" column="user_password"/>
    </resultMap>

    <insert id="addUserInfo" parameterType="UserInfo">
        insert into user_info values(#{userId},#{nickname},#{profile})
    </insert>

    <select id="getUserInfo" parameterType="long" resultMap="UserResult">
        select * from user_info where user_id=#{user_id}
    </select>

    <update id="updateUserInfo" parameterType="UserInfo">
        update user_info
        <set>
            <if test="nickname!=null">
                user_nickname=#{nickname},
            </if>
            <if test="profile!=null">
                user_profile=#{profile},
            </if>
        </set>
        where user_id=#{userId}
    </update>

    <insert id="addUserVerify" parameterType="UserVerify">
        insert into user_verify values(#{userId},#{openid},#{type})
    </insert>

    <update id="updateUserVerify" parameterType="UserVerify">
        update user_verify
        <set>
            <if test="userId!=null">
                user_nickname=#{userId},
            </if>
            <if test="openid!=null">
                user_profile=#{openid},
            </if>
            <if test="type!=null">
                user_profile=#{type},
            </if>
        </set>
        where user_id=#{userId}
    </update>

    <select id="getEmailVerify" parameterType="long" resultMap="EmailVerify">
        select * from email_verify where user_id=#{user_id}
    </select>

    <insert id="addEmailVerify" parameterType="EmailVerify">
        insert into email_verify values(#{userId},#{email},#{password})
    </insert>

    <update id="updateEmailVerify" parameterType="EmailVerify">
        update email_verify
        <set>
            <if test="userId!=null">
                user_nickname=#{userId},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
        </set>
        where user_id=#{userId}
    </update>
</mapper> 