<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formtools.mapper.UserMapper">

    <resultMap type="UserInfo" id="UserResult">
        <result property="nickname" column="user_nickname"/>
        <result property="profile" column="user_profile"/>
    </resultMap>

    <resultMap type="UserVerify" id="UserVerify">
        <id property="userId" column="user_id"/>
        <result property="openid" column="openid"/>
        <result property="type" column="verify_type"/>
    </resultMap>

    <resultMap type="EmailVerify" id="EmailVerify">
        <result property="id" column="id"/>
        <result property="email" column="user_email"/>
        <result property="password" column="user_password"/>
    </resultMap>

    <insert id="addUserInfo" parameterType="UserInfo">
        insert into user_info values(#{userId},#{nickname},#{profile})
    </insert>

    <select id="getUserInfo" parameterType="long" resultMap="UserResult">
        select * from user_info where user_id=#{userId}
    </select>

    <update id="updateUserInfo" parameterType="UserInfo">
        update user_info
        <set>
            <if test="nickname!=null">
                user_nickname=#{nickname},
            </if>
            <if test="profile!=null">
                user_profile=#{profile},
            </if>
        </set>
        where user_id=#{userId}
    </update>

    <insert id="addUserVerify" parameterType="UserVerify">
        insert into user_verify values(null,#{userId},#{openid},#{type})
    </insert>

    <update id="updateUserVerify" parameterType="UserVerify">
        update user_verify
        <set>
            <if test="openid!=null">
                openid=#{openid},
            </if>
            <if test="type!=null">
                verify_type=#{type},
            </if>
        </set>
        where user_id=#{userId}
    </update>

    <select id="getUserVerify" parameterType="string" resultMap="UserVerify">
        select * from user_verify where openid=#{openid}
    </select>

    <select id="getEmailVerify" parameterType="string" resultMap="EmailVerify">
        select * from email_verify where user_email=#{email}
    </select>

    <insert id="addEmailVerify" parameterType="EmailVerify">
        insert into email_verify values(null,#{email},#{password})
    </insert>

    <update id="updateEmailVerify" parameterType="EmailVerify">
        update email_verify
        <set>
            <if test="password!=null">
                user_password=#{password},
            </if>
        </set>
        where user_email=#{email}
    </update>

    <select id="getUserVerifyType" resultType="hashmap">
        select max(
            case when verify_type='E'
                then openid
            end
        ) as email ,
        max(
            case when verify_type='W'
                then openid
            end
        ) as wechat ,
        max(
            case when verify_type='Y'
                then openid
            end
        ) as yiban from user_verify where user_id=#{userId} group by user_id;
    </select>
</mapper> 