*{
background-color:f4f4f4;
padding:0;
margin:0;
}
.body
{
	margin:0px;
	padding: 0px;
}
.top {
	margin:0px;
	position: absolute;
	background-color: #FFF;
	position: static;
	clear:both;
	height:80px;
	box-shadow: 3px 3px 5px #888888;
}
.top .logo {
	position: absolute;
	margin-left: 140px;
	margin-top:10px;
	width:97px;
	float:left;
	background-color:#FF9F9F;
	top: -1px;
	height: 56px;
}
.top ._name {
	position: static;
	margin:20px 140px 20px 0;
	width:auto;
	padding:10px 30px;
	float:right;
	background-color:#A2A2FF;	
}
.2top {
	position: absolute;
	height:80px;
	padding:5px 0;
	margin:5px 0;
	box-shadow: 3px 2px 2px #888888;
	left: -1px;
	top: 78px;
}
.2top .creat {
	position: relative;
	float: left;
	margin:0 60px;
	width: 112px;
	height: 31px;
	left: 39px;
	top: 27px;
}
.top .type {
	position: static;
	float:left;
	margin:5px 0 0 300px;
}

	
