<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>多平台通用表单工具</title>
    <link rel="stylesheet"href="css/login.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div class="login-box">
        <h1 style="color: cornflowerblue">重设密码</h1>
        <div class="form">
            <div class="item">
                <input type="text" v-model="form.email" placeholder="请输入邮箱">
            </div>
            <div class="item">
                <input type="text" v-model="form.code" placeholder="输入验证码" style="width: 67px">
                <button @click="getEmailCode" style="width: 85px; background-color: cornflowerblue; border: cornflowerblue; color: white; border-radius:5px; height: 25px">获取验证码</button>
            </div>
            <div class="item">
                <input type="password" v-model="form.password" placeholder="请输入新密码">
            </div>
            <div class="item">
                <input type="password" v-model="form.password_again" placeholder="再次确认密码">
            </div>
            <p></p>
            <button @click="resetPassword" style="height: 40px; background-color: cornflowerblue; border: cornflowerblue; color: white; border-radius:15px;">确认重设</button>
        </div>
    </div>
</div>
<script src="js/forgot-password.js"></script>
</body>
</html>