<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"href="css/login.css">
    <title>重设密码</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div id="login-box">
        <h1>重设密码</h1>
        <div class="form">
            <div class="item">
                <input type="text" v-model="form.email" placeholder="请输入邮箱">
            </div>
            <div class="item">
                <input type="text" v-model="form.code" placeholder="请输入验证码">
            </div>
            <br>
            <button @click="getEmailCode">获取验证码</button>
            <div class="item">
                <input type="password" v-model="form.password" placeholder="请输入新密码">
            </div>
            <div class="item">
                <input type="password" v-model="form.password_again" placeholder="再次确认密码">
            </div>
            <p></p>
            <button @click="resetPassword">确认重设</button>
        </div>
    </div>
</div>
<script>
    //axios全局配置withCredentials也可以获取cookie
    // axios.defaults.withCredentials = true;
    var app = new Vue({
        el: '#app',
        data: {
            form:{
                email:"",
                code:"",
                password:"",
                password_again:""
            }
        },
        methods: {
            getEmailCode: function () {
                axios.get("http://localhost:8080/email-code/reset-password?" + "email=" + this.form.email,
                    {
                        "withCredentials": true/*单个axios设置withCredentials*/
                    }
                ).then(function (response) {
                    if (response.data.status_code === 0) {
                        alert(response.data.msg);
                        console.log(response.data)
                    } else {
                        alert("验证码发送成功");
                    }
                }).catch(function (error) {
                    console.log(error)
                })
            },
            resetPassword: function () {
                axios.post("http://localhost:8080/reset-password",this.form,{
                    "withCredentials": true/*单个axios设置withCredentials*/
                }).then(function (response) {
                    if (response.data.status_code === 0) {
                        alert(response.data.msg);
                        console.log(response.data)
                    } else {
                        alert("密码修改成功");
                        window.location.href="login.html"
                    }
                }).catch(function (error) {
                    console.log(error)
                })
            }
        }
    })
</script>
</body>
</html>