<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"href="css/login.css">
    <title>注册</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div id="login-box">
        <h1>欢迎注册</h1>
        <div class="form">
            <div class="item">
                <input type="text" v-model="form.nickname" placeholder="请输入昵称">
            </div>
            <div class="item">
                <input type="password" v-model="form.password" placeholder="请输入密码">
            </div>
            <div class="item">
                <input type="text" v-model="form.email" placeholder="请输入邮箱">
            </div>
            <div class="item">
                <input type="text" v-model="form.code" placeholder="请输入验证码">
                <p></p>
            </div>
            <button @click="getEmailCode">获取验证码</button>
            <p></p>
            <button @click="registerUser">立即注册</button>
        </div>
    </div>
</div>
<script>
    /*function a() {
        timer = 3;
        alert('注册成功，点击确认'+timer+'s后返回...')
        setTimeout(go,3000);
        function go() {
            location.href='Login.html'
        }
    };*/
    var app=new Vue({
        el: '#app',
        data: {
            form:{
                email: "",
                password: "",
                nickname: "",
                code: ""
            }
        },
        methods: {
            getEmailCode : function () {
                console.log(this.form.email);
                axios.get("http://localhost:8080/email-code?"+"email="+this.form.email,{
                    "withCredentials": true
                }).then(function (response) {
                    if (response.data.status_code === 0) {
                        alert(response.data.msg);
                        console.log(response.data)
                    } else {
                        alert("已发送验证码");
                    }
                }).catch(function (error) {
                    console.log(error)
                })
            },
            registerUser : function () {
                axios.post("http://localhost:8080/user",this.form,{
                    "withCredentials": true
                }).then(function (response) {
                    if (response.data.status_code === 0) {
                        alert(response.data.msg);
                        console.log(response.data)
                    } else {
                        var timer = 3;
                        alert('注册成功，点击确认'+timer+'s后返回...')
                        setTimeout(go,3000);
                        function go() {
                            location.href='Login.html'
                        }
                    }
                }).catch(function (error) {
                    console.log(error)
                })
            }
        }
    })
</script>
</body>
</html>